{% extends "global/BaseHotMarkup.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}
{% load staticfiles %}
{% load static %}

    <div>
	    <iframe class="ytplayer" id="ytplayer" type="text/html" width="900" height="506" 
	   src="https://www.youtube.com/embed/0scDOWnPK3I?autoplay=1&rel=0&controls=0&showinfo=0&loop=1&modestbranding=1&enablejsapi=1&playerapiid=ytplayer&vq=hd720"
	 		frameborder="0" allowfullscreen></iframe>
    </div>




{% endblock %}

